<div class="container">
    <div class="blouses">
        <img src="https://lh3.googleusercontent.com/ViT6zO4wRnGBon1GpNb64LedisUI1UiN1A-urYS4pgayfHKNgEpjNER0zLA-Sa2QQoU07g5a2-NmL0D7_MlEZN5HDKrzVXoGAEC1Ko6FBDJPj104rozet-b59GcHWkv8z_JNIC3e-enoZgNqFamWzzOmx39e0L3I6hgxONrxd2Du_EQ0qVCkZ0RIVyoGl6GpS-EaCl7T7plmfb4F_tDm1G8sC0nF0UHCMnKwxsnjhKhheZuq1F9HmdN5G-euSzyl7-Dil6pvgVfBm8gNpD7Jztq1faIW3x-_NlXyvvv4r8JSYL61HiHCNeETA2Eh0ieYbbgqemFKBf0a7l-M56K-5DWNrHq7RfNvBTNY6znbbWE3ooPta7MJDMRZa8eDnvqOTJmZAVgs832o0I-mPg5y770vnk-nfd_6ivHALgRa0iRJFQsKliTK2ZF1NHZF1T8IlPOCTPYbaSMjOwv_49joEAwk8A42SU46lydt3grM-wKaygMsMcaMipP0JUzMCVxE9V4zMfKnI0YBWA5WJUDjNVVs2gbIiuwyH3pnj7qYVD2Sz6XB8pSG5V9Zo8Sl9sU7f8DTXVxljf17haxeoWiRqhD6qlVEUdgzET94-k4fL7UTV3iD_b0040bDg2NsXYYY9pzvv8tadqsj4RB5R42BUv-GWqvGtTmMTWzqfGIlC9vSULadOP-SrSSob7fPCw=w843-h300-no"
            width="100%" height="300">
    </div>
    </div>
    <br>
    <br>
<div class="container">
    <div class="card-deck">
        <div *ngFor="let bw of bottomwear" class="card mb-5" style="min-width: 18rem;">
            <img src="{{bw.front}}" class="card-img-top">
            <img src="{{bw.back}}" class="img-top">
            <div class="card-body">
                <h3 data-toggle="tooltip"  title="{{bw.name|lowercase}}">
                    {{(bw.name.length>14)?(bw.name | slice:0:12)+'..':(bw.name)}}
                </h3>
                <p style="float: left; " class="card-text"><b> &#x20b9;{{bw.price}}/-</b></p>
                <i style="float:right"class="far fa-heart"></i>
            </div>
            <button style="width: 100%;" class="btn btn-success" >Add to Cart</button>
        </div>
    </div>
</div>