
<div class="logo-name">
  <p style="padding-top: 2%;padding-bottom: 2%;">Best Fashion Friend</p>
  
  </div>
<nav class="navbar navbar-expand-lg" style="background-color: white">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="spacer"></div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
              <a class="nav-link" routerLink="">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
              <a class="nav-link" routerLink="">AboutUs</a>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" routerLink="women" id="navbarDropdown" role="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  Women
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" routerLink="blouses">Blouses</a>
                  <a class="dropdown-item" routerLink="bottoms">Bottoms</a>
                  <a class="dropdown-item" routerLink="traditionalwear">Ethnic Wear</a>
                  <a class="dropdown-item" routerLink="traditionalwear">Traditional Wear</a>
                  <a class="dropdown-item" routerLink="womenaccessories">Accessories</a>
              </div>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" routerLink="men" id="navbarDropdown" role="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  Men
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" routerLink="shorts">Shorts</a>
                  <a class="dropdown-item" routerLink="bottoms">Bottoms</a>
                  <a class="dropdown-item" routerLink="jackets">Jackets</a>
                  <a class="dropdown-item" routerLink="tshirts">T-shirts</a>
                  <a class="dropdown-item" routerLink="menaccessories">Accessories</a>
              </div>
          </li>
      </ul>
      <div class="spacer"></div>

      <ul class="navbar-nav navbar-right">


          
          <li class="nav-item dropdown">
              <a class="nav-link" routerLink="login">
                  <fa-icon [icon]="faUser"></fa-icon>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" routerLink="signup">SIGN UP</a>
                  <a class="dropdown-item" routerLink="login">LOGIN</a>
              </div>
          </li>


          <a class="nav-link" routerLink="whishlist">
              <fa-icon [icon]="faHeart"></fa-icon>
          </a>

          <a class="nav-link" routerLink="cart">
              <fa-icon [icon]="faShoppingBag"></fa-icon>
          </a>

      </ul>


  </div>
</nav>