<div class="container text-center" *ngIf="cartItems.length == 0">
    <fa-icon [icon]="faShoppingBag" style="font-size: 10em;margin-top: 1em;"></fa-icon>
    <h2 style="color:deeppink">It's lonely here</h2>
    <h4 style="color:deeppink">Browse to watch awesome movies</h4>
    <a routerLink="" class="btn btn-outline-success mt-2">Continue Browsing</a>
</div>
<div class="container" *ngIf="cartItems.length > 0">
    <div class="row">
        <div class="col-md-12" *ngFor="let c of cartItems ">
            {{c.name}}
        </div>
    </div>
</div>