<nav class="navbar navbar-expand-lg" style="background-color: white">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="spacer"></div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="">AboutUs</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Women
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/packages">Blouses</a>
          <a class="dropdown-item" href="/threading">T-shirts</a>
          <a class="dropdown-item" href="/facial">Dresses</a>
          <a class="dropdown-item" href="/hair">Jumpsuits</a>
          <a class="dropdown-item" href="/waxing">Accessories</a>
        </div>
      </li>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Men
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/packages">Blouses</a>
            <a class="dropdown-item" href="/threading">T-shirts</a>
            <a class="dropdown-item" href="/facial">Dresses</a>
            <a class="dropdown-item" href="/hair">Jumpsuits</a>
            <a class="dropdown-item" href="/waxing">Accessories</a>
          </div>
        </li>
    </ul>
  <div class="spacer"></div>
  
      <ul class="navbar-nav navbar-right">
       

          <a class="nav-link" href="/login"><fa-icon [icon]="faUser"></fa-icon></a>
       
        
          <a class="nav-link" href="/whishlist"><fa-icon [icon]="faHeart"></fa-icon></a>
        
          <a class="nav-link" href="/cart"><fa-icon [icon]="faShoppingBag"></fa-icon></a>
      
      </ul>
    

  </div>
</nav>

<router-outlet></router-outlet>