<div class="container">
    <div class="traditional">
        <img src="https://lh3.googleusercontent.com/CAWZBdaKLgppDFoRamhjhX7V730IzJ2OUqaNjBFdiFArrQBz5MqK4QSclHXdvg7E8knmMswVOrurEv4Qyr57nauJNqiyV9xBVEucIoNF3A_3kt0gPXVrJmy1GX6u3qfWaJa4UBKnEb7x1M2G1qmJG10_wpMspbQvTjL45H3p2VmC_k0q-nj1KUKfdI4sLcZ98qe1bJnThWwuhFg2SkUlOqgTaG5x20im1vTpv-Gqn9B_iMgl9BDnWtFlP8gqp4wUaMHi9zkNzPfpRzw2GqOyGLFzP0JDGDCL-iLCJtOq1eAiLHS54O3Y04nW-xDl8a_DdwoRRHqP8fBNchCw4IF1OyiMR9wHwiOe05QoZvHug_uC2zxfYY1t-tzGtdLAzMBx-6kcb8du3mkfwfU1Zea5VDceZWNHBkyZwtU_zy2NGExz2Wbdxecv9-5ElIWHM0UPe2uH7h8bXLMnnae6Q6HG4YhwjxuZ9KeMpSw85nVFrQ3tQCu9LKQwg9flA_pImhvj6uAiXlp_DQWkO8cT-C0-lhzrL-ffaUciP9XFMnrhjROUSVY_tbJCTLTuRaYjYihPPtW1mE47KYsDzcZyYl1TCDEDicWs2EiS_oGKXNrQwubYbf5_YbKW1r3zwlOFAloyQc6RqQITWAONdynLn5RwkzzyhulzotomGsFrq6lkyqM40D5xYTipd2D4oLBLiA=w822-h300-no"
            width="100%" height="300">
    </div>
    </div>
    <br>
    <br>
<div class="container">
    <div class="card-deck">
        <div *ngFor="let bw of traditionalwear ;let i=index" class="card mb-5" style="min-width: 18rem;">
            <img src="{{bw.front}}" class="card-img-top">
            <img src="{{bw.back}}" class="img-top">
            <div class="card-body">
                <h3 data-toggle="tooltip"  title="{{bw.name|lowercase}}">
                    {{(bw.name.length>14)?(bw.name | slice:0:12)+'..':(bw.name)}}
                </h3>
                <p style="float: left; " class="card-text"><b> &#x20b9;{{bw.price}}/-</b></p>
                <i style="float:right"class="far fa-heart"></i>
            </div>
            <button style="width: 100%;" class="btn btn-success" (click)="addItem(i)">Add to Cart</button>
        </div>
    </div>
</div>