<div class="container">
    <div class="wa">
        <img src="https://lh3.googleusercontent.com/RudiFBQpZ3XraClI6VogKRJ0XtIIyUkoa5B_gNMobvWGbV-rf2dXCQZhDh7zMwENg7G0uFZndgmWXX1H1GDFei-glhWeiELMZl4w_ALSYe4W05lKD1xY8hIcI7WRkAP0St58qfK54jmSIwqY4psVDkoLDgbcJABDkRyAZJ9Z6vIuDGT1DZ3vDL03SB6O71uli7WhkeymvsxghJKuEKuDA0DyEOtariqumu4xLn-TwoXcX-8f2QM911jMmB6denn2a9rhRLN_blkLe7qiG1IS__ZLTrVDfDYw-deCOrr7qJP2PZRYPZYmCMReaCXf0fs-sO6D4C7bHoBTAxJQWhdlaUZ2sBqecVrWtDgCH7PzqNmpH1W10cszsf17-lMbgABxsPvPtZ4gUTwKzi_DDad4N9uX3d3OepFYCcW8PA7SxM8xGC1e9UsTIOJxM1aI5FFLwS03FhBqR3jvQ1dmtT9E0n3Dx3tIiAEVypYyxaapkEqi-j2yllUsLBDUw0hfanajKZEk6FpH2Ex6dHI9N8-0-z2DTj2x_WFhi5HCfKsNHmUjKtrKfG4lEHpoOAb-KqfbhrnCI1ei0qZVd88bpWaJQ4GqJgu5TMlf_4SkV5br6C99xIbOqeOueZENybFzkHZ29VSGHCTq0GQMuvIV_3WABHzzPhORwYHGiPezF_tpsWKdOzTNjo-74eVap04oqg=w819-h300-no"
            width="100%" height="300">
    </div>
    </div>
    <br>
    <br>
<div class="container">
    <div class="card-deck">
        <div *ngFor="let bw of womenaccessories;let i=index" class="card mb-5" style="min-width: 15rem;">
            <img src="{{bw.front}}" class="card-img-top">
            <img src="{{bw.back}}" class="img-top">
            <div class="card-body">
                <h3 data-toggle="tooltip"  title="{{bw.name|lowercase}}">
                    {{(bw.name.length>14)?(bw.name | slice:0:12)+'..':(bw.name)}}
                </h3>
                <p style="float: left; " class="card-text"><b> &#x20b9;{{bw.price}}/-</b></p>
                <i style="float:right"class="far fa-heart"></i>
            </div>
            <button style="width: 100%;" class="btn btn-success" (cick)="addItem(i)" >Add to Cart</button>
        </div>
    </div>
</div>