.card{
    padding-bottom: 32px;
    border: none;
}
.spacer{
    min-height: 100%;
}
.womens-wear{
    margin-bottom: 50px;
}
.mens-wear .mencollection .men{
    margin-bottom: 50px;
}
.mencollection{
    text-align: center;
    color: black;
    margin-bottom: 50px;
    text-transform: uppercase;
    letter-spacing: 5px;
}
.womencollection{
    text-align: center;
    color: black;
    margin-bottom: 50px;
    text-transform: uppercase;
    letter-spacing: 5px;
}
.card-deck{
    border: none;
}
